@{
    Model.PageTitle = "Dashboard";
    Model.setSidebar(_SidebarMenu.Dashboard);
}

@section ContentHeader {
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h1>@Model.PageTitle</h1>
            </div>
        </div>
    </div>
}