<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@Model.PageTitle - LibraryApplication</title>
@*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
<link rel='stylesheet' id='fontawesome-css' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-1/css/all.css?ver=5.4.2' type='text/css' media='all' />
<link rel="stylesheet" href="~/css/site.css" />
<link href="~/assets/css/app.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />